body{
    height: 120vh;
    background-image: linear-gradient(to top right,#161719 , #011130 );
    h1{
        color: rgb(216, 202, 4);
        text-align: center;
        padding-top: 35px;
        font-size: 62px;
    }
}